@media screen and (max-width: 700px) {

  .today h2 {
    font-size: 32px;
  }

  .middle-column-buttons-container {
    margin: 30px auto;
  }

  .middle-column-button {
    font-size: 16px;
    margin: 10px auto;
  }

}
