@media screen and (max-width: 700px) {

  .column {
    display: block;
  }

  .today h2 {
    font-size: 32px;
  }

  .middle-column-buttons-container {
    margin: 30px auto;
  }

  .middle-column-button {
    font-size: 16px;
    margin: 10px auto;
  }

  .goals {
    background-color: #4F6367
  }

  .goals h2 {
    font-size: 32px;
    color: #FE5F55;
    text-shadow: 3px 2px 4px #EEF5DB;
    text-transform: uppercase;
  }

}
