html {
  font-family: 'Open Sans', sans-serif;
  width: 90vw;
  height: 90vh;
}

.column {
  border: 1px solid lightgray;
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 32%;
}

/*xFIT section*/

.xfit {
  background-color: #4F6367;
}

.xfit h2 {
  color: #FE5F55;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.50);
}

#weights {
  transform: scale(.65);
}

.xfit p {
 color: #FE5F55;
 font-weight: 300;
}

.workout-container {
  border: 1px solid #B8D8D8;
  padding: 5px;
}

/*TODAY section*/

.today {
  background-color: #B8D8D8;
}

.today h2 {
  color: #4F6367;
  font-size: 60px;
  margin: 20px auto;
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.50);
  text-transform: uppercase;
}

.middle-column-buttons-container {
  margin: 50px auto;
}

.middle-column-button {
  background: #EEF5DB;
  border-radius: 10px;
  border: 1px solid #979797;
  color: #4F6367;
  font-size: 30px;
  margin-top: 20px;
  width: 80%;
}

.middle-column-button:hover {
  background-color: #FE5F55;
}

#calendar {
  width: 80%;
  margin-bottom: 85px;
}
