html {
  font-family: 'Open Sans', sans-serif;
}

.column {
  border: 1px solid black;
  display: inline-block;
  height: 100vh;
  width: 32%;
}

.today {
  background-color: #B8D8D8;
}

.today h2 {
  color: #4F6367;
  font-size: 60px;
  text-align: center;
  text-shadow: 3px 2px 4px rgba(0,0,0,0.50);
  text-transform: uppercase;
}

.middle-column-button {
  background: #EEF5DB;
  border-radius: 10px;
  border: 1px solid #979797;
  color: #4F6367;
  font-size: 48px;
  margin: 30px auto;
}

.workout-button {

}

.meal-plan-button {

}

/* Rectangle 4: */
